body    {width: 100%;
        height: 100%;
        background-color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        margin: 0px;}

        /* navigation bar */

.ulmenu {display: flex;
        justify-content:space-between;    
        background-color: #ff0000;
        font-size: 16pt;
        list-style-type: none;
        margin: 0px;
        padding-left: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 50px solid #0000ff;}        

.nav a {padding-right: 15px;
        color: #000000;
        text-decoration: none;}

.nav a:hover    {color:#ffff00;}

.nav img    {padding-left: 10px;
            width: 25px;}

/* .menumargin {margin-top: 150px;}*/

.mainbody1  {height: 100%;}

        /* start of index body */

.hometop    {height: 100vh;
            color: #ffffff;
            background-image: url('images/govt1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            padding-top: 2%;
            padding-left: 60%;}

.hometop h1 {color: #ffffff;
            font-size: 36pt;}

.buttonstyle button  {border: 1px solid #000000;
   background: #ffff00;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffff00), to(#ffff00));
   background: -webkit-linear-gradient(top, #ffff00, #ffff00);
   background: -moz-linear-gradient(top, #ffff00, #ffff00);
   background: -ms-linear-gradient(top, #ffff00, #ffff00);
   background: -o-linear-gradient(top, #ffff00, #ffff00);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 14pt;
   font-family: 'Open Sans', sans-serif;
   text-decoration: none;
   vertical-align: middle;}

.buttonstyle button:hover {border-top-color: #000000;
   background: #000000;
   color: #ffff00;}

.buttonstyle button:active {border-top-color: #000000;
   background: #000000;}

.homebody1  {height: 100%;
            height: 100vh;}
            
.homebody1  {display: flex;
            flex-direction: column;
            justify-content: space-around;}

.hometext   {padding-left: 25%;
            padding-right: 25%;
            text-align: center;}

.hometext a {color: #0000ff;
            text-decoration: none;}

.hometext a:hover {color: #0000ff;
                text-decoration-color: #0000ff;        
                text-decoration: underline;}

.homebottomparent img   {padding: 5%;}

.homebottomparent   {display: flex;
                    justify-content: space-around;}

.homebottomchild    {width: 40%;}

        /* start of efile body */

.efiletopparent {height: 100vh;
                display: flex;
                justify-content: space-around;}

.efiletopchild {display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;}


.efiletopchild  {color: #000000;
                text-align: center;}

.efiletopchild a    {color: #0000ff;
                    text-decoration: none;}

.efiletopchild a:hover {color: #0000ff;
                        text-decoration: underline;}

.efiletext  {color: #000000;}

.efileimgbody   {height:100%;
                height: 100vh;}

.efileimgparent {margin: 10%;
                display: flex;
                justify-content: center;}

.efileimgchild1  {flex: 1;}

.mini1  {display: flex;
        flex-direction: column;
        justify-content: center;}

.efileimgchild2     {margin-left: 5%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;}

        /* start of login body */

.parentlogin    {margin-top: 150px;}

.parentlogin    {display: flex;
                justify-content: center;}

.childlogin {padding: 15px;
            font-size: 9pt;
            color: #0000ff;
            width: 32%;}

.childlogin input   {border: 1px solid #000000;
                    border-radius: 2px;
                    height: 20px;
                    width: 100%;
                    font-size: 10pt;}

.loginformpad   {padding-top: 4px;}

.loginbuttonpad {margin-top: 15px;
                    margin-bottom: 5px;}

.forgotornewpassword a  {color: #0000ff;
                    text-decoration: none;
                    font-size: 7pt;
                    font-style: italic;}

.forgotornewpassword a:hover {color: #0000ff;
                        text-decoration: underline;
                        font-size: 7pt;}